<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ensias.com/dsl/MicroserviceDSL"
			class = "com.ensias.dsl.microserviceDSL.MicroserviceDSLPackage"
			genModel = "model/generated/MicroserviceDSL.genmodel" />
	</extension>
</plugin>
